.col-lg-4{
    margin-right: auto;
  }
  
  .container-card{
    margin-top: 30px;
    background-color: rgb(28,52,60);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;  
  }
  .card-header{
    width: auto;
    background-color:rgb(28,52,60) ;
    border: none; 
  }
  .card-body{
    background-color: rgb(90,102,96);
    text-align: center; 
    
  }
  .btn-primary{
      background-color: transparent;
      border-color: white;
  }
  .card-text{
    color: white;
  }
  .container{
    display: flex;
    justify-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 30px;
    margin-left: 100px;
  }